---
import BaseHead from '../components/Head/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer/Footer.astro'

let title = 'Digital Lich';
let description = '';
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="leading-normal text-black bg-white font-body personality-casual">
    <Nav />

    <main class="text-center content">
      <article class="max-w-6xl px-3 mx-auto">
          <img src='/images/404.png' alt='404' width="" height="">
          <p>Maybe look <a href="/posts" data-test="see-all-link">here</a>, you might find something interesting!</p>
      </article>
    </main>
    <Footer />
  </body>
</html>
